<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bonjour</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <h1>Hello {{ name }} !</h1>

    {% for product in products %}

        {% if (product == products[0] or product == products[1] or product == products[2]) %}
    
            {{product}}

        {% endif %}

    {% endfor %}

    <br></br>

    {% for product in products %}

        {% if (product == products[3] or product == products[4] or product == products[5]) %}
    
            {{product}}

        {% endif %}

    {% endfor %}

   {{ dump(products) }}

   <p> Il y avait certainement plus court mais je n'ai pas trouvé :) </p>
</body>
</html>